@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes shake{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(-5px);
    }
    50%{
        transform: translateX(-5px);
    }
    75%{
        transform: translateX(-5px);
    }
    100%{
        transition: translateX(5px);
    }
}

.animate-shake {
    animation: shake 0.5s ease-in-out infinite;
  }

  .image-detail-movie{
    cursor: pointer;
  }

@keyframes wave{
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

.wave-effect{
    animation: wave 1s ease infinite;
}

.left {
    text-align: left;
    background-color: #d4912c;
    padding: 8px;
    margin: 8px;
    /* min-width:150;
    min-height: 50; */
    border-radius:8px;
    display:block
  }
  
  .right {
    text-align: right;
    background-color: #11ccec;
    padding: 8px;
    margin: 8px;
    /* min-width:150;
    min-height: 50; */
    border-radius:8px;
    display:block

  }

  .box {
    width: 96%;
    margin: 0 auto;
    padding: 10px 10px;
    background-color: #C4DBFE;
    margin: 10px auto;            
}

.answer {
    background-color: aquamarine;
}